body {
    font-family: Inter !important;
    background-image: url("bg.jpg");
    background-size: cover;
    overflow: hidden;
  }
  Footer {
    overflow: hidden;
    width: 100%;
    background-color: #3f3f3f;
    height: 25px;
    margin: 0;
    padding: 0;
    background: rgb(31,31,31,0.5);
    background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(63,63,63,1) 100%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }
  .window {
      height: 0px;
      width: 0px;
      display: none;
  }
  .header {
     width: 603px;
     height: 30px;
     background-color: #D3D3D380;
     cursor: move;
     overflow: auto;
     padding-right: 3px;
  }
  .content {
     width: 600px;
     margin: 0;
     padding: 0;
     height: 450px;
     overflow: auto;
     border: #d3d3d380 solid 3px;
  }
  .headertext {
      color: black;
      background: none;
      border: black solid 0px;
      font-family: Inter;
      font-size: 15px;
      height: 30px;
      padding-left: 3px;
  }
  .closebutton {
      float: right;
      background-color: red;
      height: 75%;
      width: 50px;
      border: black solid 0px;
      font-size: 15px;
      color: black;
      border-radius: 0px 0px 3px 0px;
  }
  .closebutton:hover{
      background-color: darkred;
      border: black solid 0px;
      color: white;
  
  }
  li {
      float: left;
      display: block;
  }
  *{
      margin: 0;
      padding: 0;
  }
  
  nav{
  display: inline-block;
  }
  .sidebar2 {
      height: 75%;
      width:400px;
      position:fixed!important;
      z-index:1;
      overflow:auto;
      padding: 2.5px;
      background-color: #3f3f3f80;
      display: flex;
      flex-direction: column;
      color: white;
      bottom: 0;
      margin-bottom: 25px;
      border-radius: 5px 5px 0px 0px;
  }
  .menubutton2 {
      background: none;
      border: black solid 0px;
      font-family: Inter;
      color: white;
      float: left;
      text-align: left;
      font-size: 15px
  }
  button {
      padding: 2px;
    }
  .list {
      width: 60%;
      margin: auto;
  }
    .minimize {
      float: right;
      background-color: lightgrey;
      height: 75%;
      width: 25px;
      border: black solid 0px;
      font-size: 15px;
      color: black;
      border-radius: 0px 0px 0px 2px;
  }
  .minimize:hover{
      background-color: grey;
      border: black solid 0px;
      color: white;
  
  }
    .menubuttonminimized {
      background-color: #1d1d1d;
      border: black solid 0px;
      color: black;
      float: left;
      padding: 2.5px;
      font-size: 15px;
      height: 25px;
      color: white;
  }
textarea {
  font-size: 20px;
  font-family: arial;
  padding: 5px;
}
.footermenu {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
  height: 45px;
  background: rgb(191,255,252);
  background: linear-gradient(0deg, rgba(191,255,252,1) 0%, rgba(255,255,255,0) 100%);
}
button {
  background: none;
  border: black solid 0px;
}
.icon:hover {
  padding-bottom: 50px;
  transition: all 0.2s ease;
}