/* URGENT! DO NOT DELETE! */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    src: url('Icons/MaterialIcons-Regular.ttf');
}

/* FONT DECLARATION */
.material-icons {
    font-family: 'material-icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

/* gtk components style */
.gtkButton {
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    padding: 7px;
    margin: 0px;
    background-color: #3f3f3f;
    color: #fff;
    font-size: 12px;
    font-family: Inter;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: default;
    outline: none;
    border: 1px solid #fff;
}

.appMenu {
    background-color: #2d2d2d;
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(9px);
    place-items: center;
    justify-content: center;
    animation-name: slideInUp;
    animation-duration: 0.25s;
    z-index: 2;
    animation-fill-mode: both;
    top: 0;
}

.appMenuLauncher {
    display: inline-block !important;
    text-align: center;
    margin-left: 35px;
    background: none;
    cursor: pointer;
    color: white;
    border: 0px black solid;
}

.appMenuGTK {
    background: none;
    color: white;
    border: 0px black solid;
}

#span {
    width: 100vw;
    position: absolute;
    text-align: center !important;
    pointer-events: none;
    font-weight: normal;
}

body {
    font-family: Inter !important;
    background-image: url("bg.jpg");
    background-size: cover;
    overflow: hidden;
}

Header {
    overflow: hidden;
    width: 100%;
    background-color: #1d1d1d99;
    backdrop-filter: blur(9px);
    height: fit-content;
    margin: 0;
    padding: 8px;
    position: fixed;
    z-index: 3;
    top: 0;
}

.window {
    height: fit-content !important;
    width: fit-content !important;
    display: none;
    position: absolute !important;
    transition: none;
    box-shadow: 0px 0px 20px 0px #00000057;
    border-radius: 10px 10px 0px 0px;
    border: #4d4d4d solid 1px;
    margin: 70px;
}

.header {
    width: 100%;
    height: fit-content;
    background-color: #3e3e3e;
    cursor: move;
    border-radius: 10px 10px 0px 0px;
    overflow: auto;
    padding: 5px;
    overflow: hidden;
}

.content {
    width: 600px;
    margin: 0;
    padding: 0;
    height: 450px;
}

.headertext {
    color: white;
    background-color: #3e3e3e;
    border: black solid 0px;
    font-family: Inter;
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
    pointer-events: none;
}

.closebutton {
    float: right;
    background: none;
    height: 30px;
    border: black solid 0px;
    font-size: 15px;
    color: white;
    aspect-ratio: 1/1;
}

.closebutton i:hover {
    background-color: #5d5d5d;
    border: #00000000 solid 1px;
}

.closebutton i {
    border: #5d5d5d solid 1px;
    background-color: #4d4d4d;
    border-radius: 150px;
    padding: 3px;
}

li {
    float: left;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
    opacity: 1 !important;
}

.focused {
    z-index: 1;
}

nav {
    display: inline-block;
}

.sidebar2 {
    backdrop-filter: blur(9px);
    height: calc(100vh - 35.2px);
    width: fit-content;
    position: fixed !important;
    z-index: 3;
    overflow: auto;
    padding: 8px;
    background-color: #1d1d1d99;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 0;
}

.menubutton2 {
    background: none;
    border: black solid 0px;
    font-family: Inter;
    color: black;
    float: left;
    text-align: left;
    font-size: 15px
}

.menubutton2 img, .OptionButton img {
    padding: 0 !important;
}

.list {
    width: 60%;
    margin: auto;
}

.minimize {
    float: right;
    background-color: #3e3e3e;
    height: 31.6px;
    border: #00000000 solid 1px;
    font-size: 20px;
    color: white;
    border-radius: 150px;
    aspect-ratio: 1/1;
    margin-right: 5px;
}

.minimize:hover {
    background-color: #4d4d4d;
    border: black solid 0px;
    border: #5d5d5d solid 1px;
}

.menubuttonminimized {
    border: black solid 0px;
    color: black;
    float: left;
    display: none;
    margin-left: 10px;
    font-size: 1em;
    font-family: Inter;
    color: white;
    background: no-repeat;
    width: fit-content;
}

.menubuttonminimized:hover {
    cursor: pointer;
}

.OptionButton {
    overflow: hidden;
    position: absolute;
    bottom: 10;
    background: none;
    border: black solid 0px;
    color: black;
}

textarea {
    font-size: 20px;
    font-family: arial;
    padding: 5px;
}

header i {
    padding-top: 2px;
}

#widget {
    border-radius: 5px;
    background: #1d1d1d99;
    margin: auto;
    select: none;
    margin-top: 50px;
    cursor: move;
    color: white;
    backdrop-filter: blur(9px);
    border: white solid 1px;
    display: none;
}

textarea {
    backdrop-filter: blur(4px);
}

header p,
header li,
header i {
    cursor: pointer;
}

header p {
    font-weight: bold;
}

@keyframes slideInUp {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}